.Home {
    background-color: #ef242462;
    text-align: center;
}

p {
    color: #6a0b0b;
    font-size: 18px;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(75, 75, 212);
    background-color: rgb(105, 210, 75);
}

.home-image-container {
    text-align: center;   
    margin-top: 20px;
}

.home-image {
    max-width: 100%;  
    height: auto;     
    max-height: 400px;
}