.GearPage {
  font-family: Georgia, serif;
  font-size: 44px;
  text-align: center;
  padding: 20px;
  background-color: hsla(130, 77%, 48%, 0.468);
  border-radius: 8px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
}
.card-image {
  width: 150px;           /* Set a fixed width for the image */
  height: auto;           /* Maintain aspect ratio */
  border-radius: 8px;     /* Rounded corners for the image */
  margin-bottom: 15px;    /* Add space between image and content below */
  object-fit: cover;      /* Ensures the image covers the area without distortion */
}

.card-title {
  font-size: 1.2em;
  color: #2b09eb;
  margin-bottom: 10px;
}


.card-description {
  font-size: .5em;       /* Change font size for the description */
  color: #130f0f;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-serial {
  font-size: 0.9em;     /* Change font size for the serial number */
  color: #cb3030;
  margin-top: 10px;
}